*{
    margin: 0px;
    padding: 0px;
}
nav{
    height: 60px;
    background-color: aquamarine;
}
h3{
    position: relative;
    top: 15px;
    left: 10px;
    display: inline;
}
ul{
    position: absolute;
    right: 20px;

}
li{
    display: inline;
    margin-right: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
a{
    text-decoration: none;
    color: black;
}
/* ============================================================================================ */

.main{
    width: 87%;
    margin-left: 6%;
    height: fit-content;
    /* width: 500px; */
    /* border:solid black; */
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
    justify-content: center;
    
}
.container{
    width: 200px;
    height: 220px;
    box-shadow: 0px 0px 5px 1px rgb(96, 94, 94);
    border-radius: 10px;
}
.container:hover{
    scale: 1.01;
}
.container>img{
    width: 120px;
    height: 120px;
    margin-left: 39px;
    /* box-shadow: 1px 1px 1px rgb(96, 94, 94); */
    filter: drop-shadow(3px 3px 5px black);
    margin-top: 10px;
}
.container > p{
    /* padding-top: 10px; */
    padding:10px 5px;
}
.container > button{
    position: relative;
    left: 58%;
    top: -18px;
    padding: 4px;
    border: none;
    background-color: rgb(167, 231, 186);
    border-radius: 5px;
    width: 71px;

}
.container > button:hover{
    scale: 1.01;
}
.container > h4{
    margin-left: 8px;
}

/* ======================================================================================== */

.cartpage{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 90%;
    /* background-color: rgb(171, 104, 104); */
}
#cart{
   display: flex; 
   justify-content: center;
   padding-bottom: 10px;
}
#cart > div{
    min-width: 360px;
    width: 40%;
    margin-left: 29%;
    min-height:80%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px black;
    padding-bottom: 30px;
    
}
@media (max-width:550px) {
    #cart > div{
        width: 98%;
        margin-left: 0.9%;
    }
}
#cart > div>h3{
        font-variant:small-caps;
        margin-left: 10px;
    }
/* #cart > div>button{
    position: relative;
    top: 420px;
    width: 70px;
    background-color: aquamarine;
    border: none;
    padding:5px 10px;
    border-radius: 4px;
   

} */
#cart > div>div{
    width: 100%;
    height:fit-content;
     
      margin-top: 30px;
 display: flex;
    gap:15px;
    flex-wrap: wrap;
}
#cart > div>div>div{
    width: 80%;
    height: 70px;
   border: 1px solid rgb(91, 88, 88);
   margin-left: 9%;
   border-radius: 4px;
   padding-bottom: 5px;

}
#cart-item > div >div{
    /* border: 1px solid black; */
    height: 55%;
    padding-top: 8px;
    width: 82%;
    position: relative;
    left: 65px;
    overflow: hidden;
    border-bottom: double rgb(46, 43, 43);
    padding-left: 4px;
}
#cart-item > div >img{
    width: 50px;
    height: 60px;
    position: relative;
    left: -60px;
    top: -40px;
    border-right: double black;
    padding-right: 5px;
    
}

#cart-item > div >h3{
    position: relative;
    top: -40px;
    left: 80px;
}
#cart-item > div >button{
    width: 70px;
    border: none;
    background-color: aquamarine;
    border-radius: 4px;
    position: relative;
    top: -42px;
    left: 180px;
    padding:3px 5px;
}